# Dependencies
node_modules/

# Build output
dist/

# Logs and temporary files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE/editor settings
.vscode/
.idea/

# Environment files
.env
.env.local

# Large folders we don’t want in Git
openJdk-25/
